{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chekkit - Manufacturer Home</title>
    <link href="{% static 'css/semantic-ui/semantic.min.css' %}" rel="stylesheet" type="text/css" />
    {% block stylesheets %}
        <link href="{% static 'css/manufacturer/base.css' %}" rel="stylesheet" type="text/css" />
    {% endblock %}
</head>
<body>
<div class="pusher">
    <!-- Site content !-->
    <div id="site-container" class="" >
        <div class="ui secondary pointing menu ">
            <div class="item">
                <h2 class="ui teal header">
                    Chekkit Home
                </h2>
            </div>
            <div class="item active"><h3>Summary</h3></div>
            <div class="item"><h3>Activity</h3></div>
            <div class="right menu">
                <div class="ui dropdown item labeled icon">
                    <i class="circular bell icon"></i>
                    <div class="ui red mini label circular">3</div>
                    <div class="menu">
                        <div class="header">
                            Notifications
                        </div>
                        <div class="item">
                            Profile Incomplete
                        </div>

                    </div>
                </div>
                <div class="ui dropdown item">
                    <i class="ui circular settings icon"></i>Settings
                    <div class="menu">
                        <a class="item"><i class="united kingdom flag"></i>English</a>
                        <a class="item"><i class="turkey flag"></i>Turkish</a>
                        <a class="item"><i class="spain flag"></i>Spanish</a>
                    </div>
                </div>
                <div class="ui dropdown item">
                    <i class="ui inverted circular user blue icon"></i> {{ user.get_username }}
                    <div class="menu">
                        <a class="item" href="">Settings</a>
                        <div class="ui divider"></div>
                        <a class="item">Need Help?</a>
                        <a class="item" href="/accounts/logout/">Sign Out</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui basic segment">
            {% block content %}

            {% endblock %}
        </div>
    </div>
</div>

</body>
</html>