{% extends 'manufacturer/base.html' %}

{% block content %}
    <div class="ui basic segment ">
        <div class="ui middle aligned grid" >
            <div class="eight wide column">

                <div class="ui items">
                    <div class="item">
                        <a class="ui tiny image">
                            <img class="" src="/static/img/product.png">
                        </a>
                        <div class="content">
                            <div class="header">My Sample Product</div>
                            <div class="description">
                                <p class=""><b>Generated: </b> 500 &nbsp; | &nbsp;<b>Sold: </b> 60</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="eight wide left floated column">
                <div class="ui secondary menu">
                    <div class="right item">
                        <div class="ui icon input">
                            <input type="text" placeholder="Search...">
                            <i class="search icon"></i>
                        </div>
                    </div>
                    <div class=" item">
                        <div class="ui action input">
                            <input type="text" placeholder="Navigate to...">
                            <div class="ui button">Go</div>
                        </div>
                    </div>
                </div>
                <div class="ui secondary menu">
                    <div class="right item">


                        <div class="ui basic button">Print ID</div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui divider"></div>
    <div class="ui basic middle aligned segment">
        <h3 class="ui center aligned header">
            Generated IDs
        </h3>
        <div class="ui five stackable cards">
            <div class="card">
                <div class="image">
                    <img src="/static/img/qrcode.jpg">
                </div>

                <div class="extra content">
                    ID: 234893243240934589345934

                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="/static/img/qrcode.jpg">
                </div>

                <div class="extra content">
                    ID: 234893243240934589345934

                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="/static/img/qrcode.jpg">
                </div>

                <div class="extra content">
                    ID: 234893243240934589345934

                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="/static/img/qrcode.jpg">
                </div>

                <div class="extra content">
                    ID: 234893243240934589345934

                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="/static/img/qrcode.jpg">
                </div>

                <div class="extra content">
                    ID: 234893243240934589345934

                </div>
            </div>
        </div>
    </div>
{% endblock %}