{% extends 'manufacturer/base.html' %}

{% block content %}
    <div class="ui raised segment ">
        <div class="ui middle aligned grid" >
            <div class="eight wide column">
                <img class="ui tiny left floated rounded image" src="/static/img/company-logo.jpeg">
                <h2 class="ui header">

                        Welcome back, My Company Name
                        <div class="sub header">Best services text here</div>

                </h2>
            </div>
            <div class="eight wide left floated column">
                <div class="ui relaxed horizontal list">
                    <div class="item">
                        <div class="ui icon small grey header">
                            <i class="circular big file outline grey icon"></i>
                            <div class="content">
                                Create New Document
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="ui icon small grey header">
                            <i class="circular big chart bar icon"></i>
                            <div class="content">
                                Analysis
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="ui icon small grey header">
                            <i class="circular big huge sliders horizontal icon"></i>
                            <div class="content">
                                Settings
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui grid">

        <!--body -->
        <div class="ui container">
            <div class="ui grid">
                <div class="row">

                    <div class="eight wide column">
                        <div class="ui segment">
                            <h3 class="ui header">Chekkit Balance</h3>
                            <div class="ui  middle aligned list">
                                <div class="item">
                                    <div class="right floated content">
                                        <div class="ui mini button">X</div>
                                    </div>
                                    <div class="content">
                                        <p><b>Avaliable Purchase ID</b> CH56789456123</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="ui fluid basic blue button">Refill Balance</div>
                                </div>

                            </div>
                        </div>
                        <div class="ui segment">
                            <h3 class="ui header">Banks and Credits</h3>
                            <div class="ui  middle aligned list">
                                <div class="item">
                                    <div class="right floated content">
                                        <div class="ui mini button">X</div>
                                    </div>
                                    <div class="content">
                                        <p><b>My BrandName Details</b> 45678945</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="ui fluid basic blue button">Add Payment Methods</div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="eight wide column">
                        <div class="ui segment">
                            <h3 class="ui dividing  header">Products</h3>
                            <div class="ui middle aligned relaxed divided list">
                                <div class=" item">
                                    <div class="right floated content">
                                        <a href="{% url 'manufacturer:generate_id' %}" class="ui basic teal  button">Generate IDs</a>
                                    </div>
                                    <img class="ui tiny rounded image" src="/static/img/product.png">
                                    <div class="content">
                                        <div class="header">My Sample Product</div>
                                        <p class="description"><b>Generated: </b> 500 &nbsp; | &nbsp;<b>Sold: </b> 60</p>
                                    </div>
                                </div>
                                <div class=" item">
                                    <div class="right floated content">
                                        <a href="{% url 'manufacturer:generate_id' %}" class="ui basic teal  button">Generate IDs</a>
                                    </div>
                                    <img class="ui tiny rounded image" src="/static/img/product.png">
                                    <div class="content">
                                        <div class="header">My Sample Product</div>
                                        <p class="description"><b>Generated: </b> 200 &nbsp;|&nbsp;<b>Sold: </b> 10</p>
                                    </div>
                                </div>
                                <div class=" item">
                                    <div class="right floated content">
                                        <a href="{% url 'manufacturer:generate_id' %}" class="ui basic teal  button">Generate IDs</a>
                                    </div>
                                    <img class="ui tiny rounded image" src="/static/img/product.png">
                                    <div class="content">
                                        <div class="header">My Sample Product</div>
                                        <p class="description"><b>Generated: </b> 500 &nbsp; | &nbsp;<b>Sold: </b> 60</p>
                                    </div>
                                </div>
                                 <div class=" item">
                                    <div class="right floated content">
                                        <a href="{% url 'manufacturer:generate_id' %}" class="ui basic teal  button">Generate IDs</a>
                                    </div>
                                    <img class="ui tiny rounded image" src="/static/img/product.png">
                                    <div class="content">
                                        <div class="header">My Sample Product</div>
                                        <p class="description"><b>Generated: </b> 200 &nbsp;|&nbsp;<b>Sold: </b> 10</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

